html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #f5f5f5;*/
  background-image: url(../../images/login-bg.png);

  background-size: cover;
   color: #f1f1f1;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  margin: 0 auto;
  background: rgba(0,0,0,0.5);

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.sign-in,.sign-in:hover{
  background-color: #39b49b;
  border-color: transparent;
}